<div class="jumbotron">
  <h2>Welcome to Leo's Rainbow</h2>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Status (<%= @last_update %>)</h4>
    Hi Leo
  </div>

  <div class="col-lg-6">
    <h4>Led mapping </h4>
    <%= inspect(@led_mapping) %>
  </div>
</div>
